{% extends "site_base.html" %}

{% block head_title %}Notifications{% endblock %}

{% load thumbnail %}

{% block body %}
    <div class="row">
<div class="col-md-12">

<h1>Notifications</h1>

<ul class="nav nav-tabs">
  <li role="presentation" {% if filter_new %} class="active" {% endif %}><a href="{% url 'unread_notifications_view' %}">New</a></li>
  <li role="presentation" {% if not filter_new %} class="active" {% endif %}><a href="{% url 'read_notifications_view' %}">Old</a></li>
</ul>

<p></p>

{% regroup notifications by sender_user as nlist %}

<ul>
{% for nsender_user in nlist %}
    <li>{{ nsender_user.grouper }}
    <ol>
        {% for n in nsender_user.list %}
         <li><a href="{{n.get_absolute_url}}">{{n.decode_msg}}</a> {{n.created_at}} by {{n.sender_user}}</li>
        {% endfor %}
    </ol>
    </li>
{% endfor %}
</ul>

    </div>
    </div>

{% endblock %}