{% extends "site_base.html" %}

{% block head_title %}Notifications{% endblock %}

{% load thumbnail %}

{% block body %}
    <div class="row">
<div class="col-md-12">

<h1>Notifications</h1>

<ul class="nav nav-tabs">
  <li role="presentation" {% if filter_name == 'new_by_user' %} class="active" {% endif %}><a href="{% url 'unread_notifications_view' %}">New</a></li>
  <li role="presentation" {% if filter_name == 'new_by_type' %} class="active" {% endif %}><a href="{% url 'unread_notifications_view_by_type' %}">New by type</a></li>
  <li role="presentation" {% if filter_name == 'old' %} class="active" {% endif %}><a href="{% url 'read_notifications_view' %}">Old</a></li>
</ul>

<p></p>

{% if filter_name == 'new_by_user' %}

{% regroup notifications by sender_user as nlist %}

<ul>
{% for nsender_user in nlist %}
    <li>{{ nsender_user.grouper }}
    <ol>
        {% for n in nsender_user.list %}
         <li><a href="{{n.get_absolute_url}}">{{n.decode_msg}}</a> {{n.created_at}} by {{n.sender_user}}</li>
        {% endfor %}
    </ol>
    </li>
{% endfor %}
</ul>

{% else %}

{% if filter_name == 'new_by_type' %}

{% regroup notifications by content_type as nlist %}

<ul>
{% for ncontent_type in nlist %}
    <li><strong>{{ ncontent_type.grouper }}</strong>
    <ul>
        {% regroup ncontent_type.list by object_id as n_object_list %}
        {% for n_object in n_object_list %}
            <li><strong>{{n_object.list.0.get_title}}</strong>
            <ol>
            {% for n in n_object.list %}
             <li>
             <a href="{{n.get_absolute_url}}">{{n.decode_msg}}</a> {{n.created_at}} by {{n.sender_user}}</li>
            {% endfor %}
            </ol>
            </li>
        {% endfor %}

    </ul>
    </li>
{% endfor %}
</ul>




{% else %}
<ol>
{% for n in notifications %}
  <li><a href="{{n.get_absolute_url}}">{{n.decode_msg}}</a> {{n.created_at}} by {{n.sender_user}}</li>
{% endfor %}
</ol>

<p>Last {{OLD_NOTIFICATIONS_VIEW_LIMIT}} notifications shown.</p>

{% endif %}
{% endif %}


    </div>
    </div>

{% endblock %}