{% extends "site_base.html" %}


{% block head_title %}{{ profile.display_name }}{% endblock %}

{% load thumbnail %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div class="profile-widget">
                {% if profile.avatar %}
                    <img class="img-polaroid avatar hidden-phone" src="{% thumbnail profile.avatar 160x160 crop %}" alt="{{ profile.name }}">
                {% endif %}

                <h2>{{ profile.display_name }}</h2>

                <div class="profile">
                    {% if profile.description %}
                        <div class="bio">
                            {{ profile.description_html|safe}}
                        </div>
                    {% endif %}
                    {% if profile.location %}
                        <div class="item">
                            <span class="dim">
                                <i class="fa fa-map-marker"></i>
                            </span>
                            {{ profile.location }}
                        </div>
                    {% endif %}
                    {% if profile.website %}
                        <div class="item">
                            <span class="dim">
                                <i class="fa fa-external-link"></i>
                            </span>
                            <a href="{{ profile.website }}">{{ profile.website }}</a>
                        </div>
                    {% endif %}
                    {%if profile.user%}
                        <div class="item">
                            <span class="dim">
                                <i class="fa fa-clock-o"></i>
                                Joined on
                            </span>
                            {{ profile.user.date_joined }}
                        </div>
                        {% if not profile.user.is_active %}
                            <div class="item">
                                User is NOT active
                            </div>
                        {%endif%}
                    {%endif%}
                    {% if request.user == profile.user %}
                        {% if user_repo_pw %}
                        <div class="item">
                            <span class="dim">
                                <i class="fa fa-key"></i>
                                Your repo password:
                            </span>
                            {{ user_repo_pw }}
                        </div>
                        {% endif %}
                        <a href="{% url 'profiles_edit' %}" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i> Edit My Profile</a>
                    {% else %}
                        {% if not profile.has_account %}
                            <a href="{% url 'profile_update' pk=profile.pk %}" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i> Edit Profile</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
        <h2>Main profiles</h2>
        {% if main_profiles %}
        <ul>
        {% for mp in main_profiles %}
        <li><a href="{% url 'profiles_detail' pk=mp.main_profile.id %}">{{ mp.main_profile.display_name }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
        <h2>Sub profiles</h2>
        {% if sub_profiles %}
        <ul>
        {% for sp in sub_profiles %}
        <li><a href="{% url 'profiles_detail' pk=sp.sub_profile.id %}">{{ sp.sub_profile.display_name }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
        <a href="{% url 'profile_add_sub' pk=profile.id %}" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i> Add sub</a>
        </div>
        <h2>Mannaging profiles</h2>
        {% if managed_profiles %}
        {% for cp in managed_profiles %}
        <li><a href="{% url 'profiles_detail' pk=cp.managed_profile.id %}">{{ cp.managed_profile.display_name }}</a>
            {% if request.user == profile.user %}
               - <a href="{% url 'project:view_profile_schedule' profile_id=cp.managed_profile.id %}" class="btn btn-default" role="button">view {{cp.managed_profile}} schedule</a>
            {% endif %}
        </li>
        {% endfor %}
        {% endif %}
        <h2>Managed by users</h2>
        {% if managed_by_user %}
        {% for cu in managed_by_user %}
        <li><a href="{% url 'profiles_detail' pk=cu.manager_user.profile.id %}">{{ cu.manager_user.profile.display_name }}</a></li>
        {% endfor %}
        {% endif %}
    </div>

    {% if profile.could_has_task %}
        <div class="row">
            <div class="col-md-12">
                <h3>
                {% if view_projects_and_tasks_header == 'to_you' %}
                    Projects and tasks assigned to you
                {% else %}
                    {% if view_projects_and_tasks_header == 'to_managed' %}
                        Projects and tasks assigned to managed profiles
                    {% else %}
                        {% if view_projects_and_tasks_header == 'to_profile' %}
                            Projects and tasks assigned to profile (for projects available for you)
                        {% endif %}
                    {% endif %}
                {% endif %}
                </h3>

                   {% if view_projects_and_tasks_header == 'to_managed' %}
                       <p><a href="{% url 'project:view_profile_schedule' profile_id=profile.id %}" class="btn btn-default" role="button">View {{profile}} schedule</a></p>
                   {% endif %}

                    {% if profile_projects %}
                    <h4>Projects</h4>
                        <ul>
                        {% for pp in profile_projects %}
                            <li><a href="{% url 'project:project_view_members' pp.pk %}">{{pp}}</a></li>
                        {% endfor %}
                        </ul>
                    {% endif %}

                    {% if profile_tasks %}
                        <h4>Tasks</h4>
                        {% include "project/task_list.html" with table_mode='index' tasks=profile_tasks %}
                    {%  endif %}
            </div>
        </div >
    {% endif %}

{% endblock %}
