{% extends "site_base.html" %}

{% block head_title %}People{% endblock %}

{% load thumbnail %}

{% load profile_tag %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>People, bots and orgs
            {% if can_add_profile %}
            <a class="btn btn-default" href="{% url 'profile_create' %}"><i class="fa fa-plus"></i>Create profile</a>
            {% endif %}
            </h1>
        </div>
    </div>

{% regroup profiles|dictsort:"profile_type" by profile_type as profile_list %}

{% for profile in profile_list %}
<h2>{% profile_type_name profile.grouper %}</h2>

    <div class="row">
        {% for p in profile.list %}
            <div class="col-md-3">
                <div class="media" style="margin-bottom: 16px;">
                    {% if p.avatar %}
                        <img width="72" height="72" class="media-object pull-left" src="{% thumbnail p.avatar 72x72 crop %}" alt="{{ p.name|default:user.username }}">
                    {% else %}
                        <div class="default-avatar media-object pull-left">
                            {% fa_profile_icon p.profile_type %}
                        </div>
                    {% endif %}

                    <div class="media-body">
                        <h4 class="media-heading"><a href="{% url 'profiles_detail' pk=p.id %}">{{ p.display_name }}</a></h4>
                    {% if p.location %}
                        <div>
                            <span class="dim">
                                <i class="fa fa-map-marker"></i>
                            </span>
                            {{ p.location }}
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>



{% endfor %}















{% endblock %}
