{% extends 'site_base.html' %}

{% load bootstrap %}
{% load profile_tag %}

{% block body_class %}affiliation{% endblock %}

{% block head_title %}
{% if profile_affiliation.pk %}
Edit
{% else %}
Add to {{main_profile}}
{% endif %}

{% endblock %}


{% block body %}
<div class="row">
<div class="col-md-9">

<table width="100%">
<tbody>
<tr>
<td>
        {{ form.media }}
        <form class="span6" id="milestone_form" method="post" action="" enctype="multipart/form-data">

                {% if profile_affiliation.pk %}
                    <legend>Edit</legend>
                {% else %}
                    <legend>Add to <a href="{{main_profile.get_absolute_url}}">{{main_profile}}</a></legend>
                {% endif %}

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}

                {{ field|bootstrap }}
            {% endfor %}


            <button class="btn btn-primary" type="submit" name="submit">Save</button>
        </form>
</td>
<td>
&nbsp;
</td>
<td>
    <p>Navigate through the tree of profiles list
    {% if level_pk > 0 %}
        of <mark>{{root_profile}}</mark>.
        Back to profile tree <a href="{% url 'profile_add_sub_tree_view' pk=main_profile.pk level_pk=0 %}" class="btn btn-default btn-sm" >root</a>.
    {% else %}<mark>root</mark>.
    {% endif %}
    </p>

    {% if level_profiles %}
    <ol>
        {% for lp in level_profiles %}
            <li><a href="{% url 'profile_add_sub_tree_view' pk=main_profile.pk level_pk=lp.pk %}" class="btn btn-default btn-sm" >{% fa_profile_icon lp.profile_type %} {{lp}}</a></li>
        {% endfor %}
    </ol>
    {% else %}
        <p class="bg-warning">No unlinked sub profiles.</p>
    {% endif %}
</td>

</tr>
</tbody>
</table>


</div>
</div>
{% endblock %}