{% extends 'site_base.html' %}

{% load bootstrap %}

{% block body_class %}affiliation{% endblock %}

{% block head_title %}
{% if profile_affiliation.pk %}
Edit
{% else %}
Add to {{main_profile}}
{% endif %}

{% endblock %}


{% block body %}
<div class="row">
<div class="col-md-9">
<ol>
{% for lp in level_profiles %}
<li><a href="{% url 'profile_add_sub_tree_view' pk=main_profile.pk level_pk=lp.pk %}">{{lp}}</a></li>
{% endfor %}
</ol>

{{ form.media }}

        <form class="span6" id="milestone_form" method="post" action="" enctype="multipart/form-data">

                {% if profile_affiliation.pk %}
                    <legend>Edit</legend>
                {% else %}
                    <legend>Add to <a href="{{main_profile.get_absolute_url}}">{{main_profile}}</a></legend>
                {% endif %}

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}

                {{ field|bootstrap }}
            {% endfor %}


            <button class="btn btn-primary" type="submit" name="submit">Save</button>
        </form>
</div>
</div>
{% endblock %}