django
django-user-accounts
django-bootstrap-form
pinax
pinax-theme-bootstrap
pinax-eventlog

django-filter
django-reversion
django-mptt

git+https://github.com/yn-coder/django-bootstrap3-datetimepicker.git

easy-thumbnails

svn
django-summernote
django-cryptography