Django==2.2.11
django-user-accounts==2.0.3
django-bootstrap-form==3.4
Pinax==0.9a2
pinax-theme-bootstrap==8.0.1
pinax-eventlog==2.0.3

django-filter==2.2
django-reversion==2.0.13
django-mptt==0.10.0

git+https://github.com/yn-coder/django-bootstrap3-datetimepicker.git#egg=django-bootstrap3-datetimepicker

easy-thumbnails==2.5

svn==0.3.45
django-summernote==0.8.10.0
django-cryptography==0.3

gunicorn==19.6.0
dj-database-url==0.4.1
psycopg2==2.6.2