django
django-user-accounts
django-bootstrap-form
pinax
pinax-theme-bootstrap
pinax-eventlog

django-filter
django-reversion

git+https://github.com/yn-coder/django-bootstrap3-datetimepicker.git

easy-thumbnails
markdown

svn