{% extends "site_base.html" %}

{% block head_title %}Project{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">

<h1>Projects
{% if can_add_project %}
<a class="btn btn-default" href="/project/project_add/"><i class="fa fa-plus"></i>Create project</a>
{%endif%}
</h1>

<ul class="nav nav-tabs">
  <li role="presentation" {% if filter_type == '' %} class="active" {% endif %}><a href="/project/">Mine</a></li>
  <li role="presentation" {% if filter_type == 'all_available' %} class="active" {% endif %}><a href="/project/all_available">Available</a></li>
  <li role="presentation" {% if filter_type == 'search_public' %} class="active" {% endif %}><a href="/project/search_public/">Search public</a></li>
  <li role="presentation" {% if filter_type == 'all_public' %} class="active" {% endif %}><a href="/project/all_public/">All public</a></li>
  <li role="presentation" {% if filter_type == 'task_search' %} class="active" {% endif %}><a href="/project/task_search/">Task search</a></li>
  <li role="presentation" {% if filter_type == 'task_search_by_domain' %} class="active" {% endif %}><a href="{% url 'project:task_search_by_domain' %}">Tasks by domains</a></li>
</ul>

<p></p>

{% if filter_type == 'search_public' %}
{% load bootstrap %}
    <div class="row">
        <div class="col-md-5">

    <form action="" method="get">
        {{ filter.form|bootstrap }}
        <input type="submit" class="btn btn-info" />
    </form>
    </div>
    </div>
    <br>
    {% for obj in filter.qs %}
        <a href="{{ obj.get_absolute_url }}">{{ obj.fullname }}</a><br />
    {% endfor %}
    <p>{{filter.qs.count}} found.</p>

{% else %}

{% if filter_type == '' and not request.user.is_authenticated %}

Please, log in to see your projects.

{% else %}

{% if filter_type == 'task_search' %}
    <div class="row">
        <div class="col-md-5">

    <form action="" method="get">
        {{ filter.form|bootstrap }}
        <input type="submit" class="btn btn-info" />
    </form>
    </div>
    </div>
    <h2>Search for tasks</h2>
    {% include "project/task_list.html" with table_mode='index' %}
{% else %}
    {% if filter_type == 'task_search_by_domain' %}

        {% if selected_domain == None %}
            <strong>
        {% endif %}
        <p><a href="{% url 'project:task_search_by_domain' %}">Tasks without domains</a></p>
        {% if selected_domain == None %}
            </strong>
        {% endif %}


        {% load mptt_tags %}
                {% recursetree domains %}
                    <li>
                    {% if node.pk == selected_domain %}<strong>{% endif %}
                    <a href="{% url 'project:task_search_by_domain_selected' node.pk %}">{{node.name}}</a>
                    {% if node.pk == selected_domain %}</strong>{% endif %}
                        {% if not node.is_leaf_node %}
                            <ul>
                            {{ children }}
                            </ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}

    <h2>Search for tasks by domain</h2>
    {% include "project/task_list.html" with table_mode='index' %}

    {% else %}
    {% include "project/project_list.html" %}
    {% endif %}
{% endif %}


{% endif %}

{% endif %}

{% if request.user.is_authenticated %}
<h3>Your schedule</h3>
    <a href="{% url 'project:view_my_index_schedule' %}" >Schedule</a>

{% endif %}

{% if filter_type == '' %}

<h3>Tasks assigned to you</h3>

{% if not request.user.is_authenticated %}
Please, log in to see your tasks.
{% else %}
{% include "project/task_list.html" with table_mode='index' %}
{% endif %}
{% endif %}

        </div>
    </div>

{% endblock %}
