{% extends 'site_base.html' %}

{% load bootstrap %}

{% block body_class %}member{% endblock %}

{% block head_title %}
{% if member.pk %}
Edit member
{% else %}
Add member
{% endif %}        

{% endblock %}


{% block body %}
<div class="row">
<div class="col-md-9">

{{ form.media }}

        <form class="span6" id="member_form" method="post" action="" enctype="multipart/form-data">
        
                {% if member.pk %}
                    <legend>Edit member</legend>
                {% else %}
                    <legend>Add member</legend>
                {% endif %}        
        
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            
            {% for field in form.visible_fields %}

                {{ field|bootstrap }}
            {% endfor %}
            

            <button class="btn btn-primary" type="submit" name="submit">Save</button>
        </form>
</div>        
</div>
{% endblock %}