{% load i18n %}

{% if user_can_join %}
<a class="btn btn-primary" href="/project/member_want_join/{{project.pk}}/"><i class="fa fa-sign-in"></i> {% trans "Join" %}</a>
{%endif%}
<ul>
{% for m in members %}
<li>{{m.member_profile.user}}

{% if m.admin_flag %}
{% trans "(admin)" %}
{% endif %}

{% if not m.team_accept %}
{% trans "(team not accept)" %}
{% endif %}

{% if not m.member_accept %}
{% trans "(member not accept)" %}

{% if request.user.is_authenticated and request.user == m.member_profile.user %}
<a class="btn btn-primary" href="/project/member/{{m.pk}}/member_accept/"><i class="fa fa-chevron-down"></i> {% trans "Accept membership" %}</a>
{% endif %}
{% endif %}

</li>
{% endfor %}
</ul>