{% extends 'site_base.html' %}

{% load i18n %}
{% load bootstrap %}
{% load thumbnail %}

{% block head_title %}{{project}}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
<h1>{{project}}
{% if project.private_flag %}
<i class="fa fa-lock"></i>
{% endif %}

{% if not project.active_flag %}
   <span class="label label-primary">Closed</span>
{% endif %}

</h1>

<ul class="nav nav-tabs">
  <li role="presentation" {% if show_page == 'title' %} class="active" {% endif %}><a href="{{project.get_absolute_url}}">{% trans "Project" %}</a></li>
  {% if show_file_page %}
    <li role="presentation" {% if show_page == 'files' %} class="active" {% endif %}><a href="{% url 'project:project_view_files' project_id=project.pk %}">{% trans "Files" %}</a></li>
  {% endif %}
  <li role="presentation" {% if show_page == 'milestones' %} class="active" {% endif %}><a href="{{project.get_absolute_url}}milestones/">{% trans "Milestones" %}</a></li>
</ul>

{% if show_page == 'title' %}

<p>Project description</p>

{% if project.description %}
{{ project.description_html|safe }}
{% endif %}

{% if user_can_admin %}
<a class="btn btn-default" href="{{project.get_absolute_url}}project_edit"><i class="fa fa-pencil-square-o"></i> {% trans "Edit projects" %}</a>
{% endif %}

{% if project.created_at == project.modified_at %}
no history to view

{% else %}
<a href="{{project.get_absolute_url}}history">History</a>
{% endif %}

<h2>{% trans "Tasks" %} {% if user_can_admin or user_can_work %}<a class="btn btn-default" href="/project/task_add/{{project.id}}/"><i class="fa fa-plus"></i> {% trans "Create task" %}</a>{% endif %}</h2>

<ul class="nav nav-tabs">
  <li role="presentation" {% if filter_type == '' %} class="active" {% endif %}><a href="{{project.get_absolute_url}}">{% trans "Open" %}</a></li>
  <li role="presentation" {% if filter_type == 'filter_task_closed' %} class="active" {% endif %}><a href="{{project.get_absolute_url}}closed_task/">{% trans "Closed" %}</a></li>
  <li role="presentation" {% if filter_type == 'filter_task_search' %} class="active" {% endif %}><a href="{{project.get_absolute_url}}search_task/">{% trans "Search" %}</a></li>
</ul>

{% if filter_type == 'filter_task_search' %}
    <div class="row">
        <div class="col-md-5">

    <form action="" method="get">
        {{ filter.form|bootstrap }}
        <input type="submit" class="btn btn-info" />
    </form>
</div>
</div>
{% endif %}

{% include "project/task_list.html" with table_mode='project' %}

<h2>{% trans "Members" %} {% if user_can_admin %}<a class="btn btn-default" href="/project/member_add/{{project.id}}/"><i class="fa fa-plus"></i> {% trans "Add member" %}</a>{% endif %}</h2>

{% include "project/project_members_list.html" %}

{% comment %} end if TITLE {% endcomment %}
{% endif %}

{% if show_page == 'files' %}
<h2>Files</h2>

{% include "project/project_repo.html" %}


{% comment %} end if FILES {% endcomment %}
{% endif %}

{% if show_page == 'milestones' %}
<h2>{% trans "Milestones" %}{% if user_can_admin %} <a class="btn btn-default" href="/project/milestone_add/{{project.id}}/"><i class="fa fa-plus"></i> {% trans "Create milestone" %}</a>{% endif %}</h2>

{% include "project/project_milestones.html" %}

{% comment %} end if MILESTONES {% endcomment %}
{% endif %}

</div>
</div>

{% endblock %}