{% extends 'site_base.html' %}

{% load i18n %}
{% load bootstrap %}
{% load thumbnail %}

{% block head_title %}{{project}} history{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
<h1>{{project}} history</h1>

<a href="{{project.get_absolute_url}}">back</a>

    <table class="table table-striped">
    <thead>
    <tr>
    <th>Date-time</th>
    <th>Full name</th>
    <th>Description</th>
    <th>Active flag</th>
    <th>Private flag</th>
    <th>Use sub projects</th>
    <th>Use properties</th>
    <th>User</th>
    </tr>
    </thead>
    <tbody>
        {% for v in versions %}
        <tr>
        <td>{{v.revision.date_created}}</td>
        <td>{{v.field_dict.fullname}}</td>
        <td>{{v.field_dict.description|safe}}</td>
        <td>{{v.field_dict.active_flag}}</td>
        <td>{{v.field_dict.private_flag}}</td>
        <td>{{v.field_dict.use_sub_projects}}</td>
        <td>{{v.field_dict.use_properties}}</td>
        <td><a href="{% url 'profiles_detail' pk=v.revision.user.profile.pk %}">{{v.revision.user}}</a></td>
        </tr>
        {% endfor %}

    </tbody>
    <table>  


</div>
</div>
  
{% endblock %}