{% load i18n %}

{% if user_can_join %}
<a class="btn btn-primary" href="/project/member_want_join/{{project.pk}}/"><i class="fa fa-sign-in"></i> {% trans "Join" %}</a>
{%endif%}
<ul>
{% for m in members %}
<li>
<a href="{% url 'profiles_detail' pk=m.member_profile.pk %}">
    {% if m.member_profile.user.is_active %}
        {{m.member_profile.simple_name}}
    {% else %}
        <s>{{m.member_profile.simple_name}}</s>
    {%endif%}
</a>

{% if m.admin_flag %}
{% trans "(admin)" %}
{% endif %}

{% if not m.team_accept %}
{% trans "(team not accept)" %}
{% if user_can_admin %}
<a class="btn btn-primary" href="/project/member/{{m.pk}}/team_accept/"><i class="fa fa-chevron-down"></i> {% trans "Accept membership" %}</a>
{% endif %}
{% endif %}

{% if not m.member_accept %}
<strong class="text-warning">{% trans "(member not accept)" %}</strong>

{% if request.user.is_authenticated and request.user == m.member_profile.user %}
<a class="btn btn-primary" href="/project/member/{{m.pk}}/member_accept/"><i class="fa fa-chevron-down"></i> {% trans "Accept membership" %}</a>
{% endif %}
{% endif %}

{% if user_can_admin %}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin actions <span class="caret"></span> </button>
            <ul class="dropdown-menu">
                <li><a href="{% url 'project:member_remove_check' m.pk %}">Remove</a></li>
            </ul>
    </div>
{% endif %}

</li>
{% endfor %}
</ul>