{% extends 'form_with_thumbnail.html' %}

{% load url from future %}
{% load bootstrap %}

{% block body_class %}resource{% endblock %}

{% block head_title %}
{% if resource.pk %}
Edit resource
{% else %}
Create resource
{% endif %}        

{% endblock %}


{% block body %}
<div class="row">
<div class="col-md-9">

{{ form.media }}

        <form class="span6" id="resource_form" method="post" action="" enctype="multipart/form-data">
        
                {% if resource.pk %}
                    <legend>Edit resource</legend>
                {% else %}
                    <legend>Create resource</legend>
                {% endif %}        
        
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            
            {% for field in form.visible_fields %}

                {{ field|bootstrap }}
            {% endfor %}
            

            <button class="btn btn-primary" type="submit" name="submit">Save</button>
        </form>
</div>        
</div>
{% endblock %}