{% extends 'site_base.html' %}

{% load i18n %}
{% load url from future %}
{% load bootstrap %}

{% block head_title %}{{resource}}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
        
<ol class="breadcrumb">
<li>  <a href="{% url 'project:resource_list' %}">Resources</a></li>
{% for ra in resource.get_ancestors %}
<li>  <a href="{{ ra.get_absolute_url }}">{{ ra.shortname }}</a></li>
{% endfor %}
<li class="active">{{ resource.shortname }}</li>
</ol>        
        
<h1>{{resource}}</h1>

<p>{{resource.shortname}}</p>

<p>{{resource.fullname}}</p>


<a class="btn btn-default" href="{{resource.get_absolute_url}}resource_edit"><i class="fa fa-pencil-square-o"></i> {% trans "Edit resource" %}</a>

<h2>Sub resources

<a class="btn btn-default" href="{{ resource.get_absolute_url }}resource_add/"><i class="fa fa-plus"></i> Add a New sub Resource</a>
</h2>

    {% if subresources %}
    <ul>
        {% for sr in subresources %}
        <li><a href="{{sr.get_absolute_url}}">{{ sr.shortname }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No sub resources.</p>
    {% endif %}

<h2>Tasks</h2>
{% include "project/task_list.html" with table_mode='resource' %}

</div>
</div>
  
{% endblock %}