{% extends 'site_base.html' %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}Schedule{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">

<h1>{% if request.user == profile.user %}Your{% else %}<a href="{% url 'profiles_detail' pk=profile.id %}">{{profile}}</a>{% endif %} schedule</h1>

{% for s in schedules %}
  <p><a href="{{s.get_absolute_url}}">{{s}} <span class="label label-info">{{ s.scheduleitem_task__count }}</span></a>{% if s.current %} <i class="fa fa-clock-o"></i>{%endif%}</p>
{%endfor%}

{% if offer_to_create_this_week %}
    {% if profile_is_managed %}
    <a href="{% url 'project:create_schedule_current' profile_id=profile.id %}" type="button" class="btn btn-info">Create new schedule for current week for managed profile</a>
    {% else %}
    <a href="{% url 'project:create_schedule_current' %}" type="button" class="btn btn-info">Create new schedule for current week for you</a>
    {% endif %}
{% endif %}

{% if offer_to_create_next_week %}
    {% if profile_is_managed %}
    <a href="{% url 'project:create_schedule_next' profile_id=profile.id %}" type="button" class="btn btn-info">Create new schedule for next week for managed profile</a>
    {% else %}
    <a href="{% url 'project:create_schedule_next' %}" type="button" class="btn btn-info">Create new schedule for next week for you</a>
    {% endif %}
{% endif %}

</div>
</div>

{% endblock %}