{% extends 'site_base.html' %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{{task}} history{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
<h1>{{task}} history</h1>

<a href="{{task.get_absolute_url}}">back</a>

    <table class="table table-striped">
    <thead>
    <tr>
    <th>Date-time</th>
    <th>Full name</th>
    <th>Description</th>
    <th>Holder</th>
    <th>State</th>
    <th>Detailed state</th>
    <th>Milestone</th>
    <th>Finished fact</th>
    <th>Important</th>
    <th>Kind</th>
    <th>User</th>
    </tr>
    </thead>
    <tbody>
        {% for v in versions %}
        <tr>
        <td>{{v.revision.date_created}}</td>
        <td>{{v.field_dict.fullname}}</td>
        <td>{{v.field_dict.description|safe}}</td>
        <td><a href="{% url 'profiles_detail' pk=v.field_dict.holder_id %}">{{v.field_dict.holder_id}}</a></td>
        <td>{{v.field_dict.state}}</td>
        <td>{{v.field_dict.detailed_state}}</td>
        <td>{{v.field_dict.milestone_id}}</td>
        <td>{{v.field_dict.finished_fact_at|date}}</td>
        <td>{% if v.field_dict.important %}<i class="fa fa-exclamation-triangle" style="color:red"></i>{%endif%}</td>
        <td>{{v.field_dict.kind_id}}</td>
        <td><a href="{% url 'profiles_detail' pk=v.revision.user.profile.id %}">{{v.revision.user.profile}}</a></td>
        </tr>
        {% endfor %}

    </tbody>
    <table>


</div>
</div>

{% endblock %}