{% extends 'site_base.html' %}

{% load url from future %}
{% load bootstrap %}

{% block body_class %}task targed date{% endblock %}

{% block head_title %}

Edit task target date

{% endblock %}


{% block body %}
<div class="row">
<div class="col-md-9">


{% if task.milestone %}
<p>Task already has the milestone:</p>
<p class="bg-warning">{{task.milestone}}, {{task.milestone.planned_at|date}}</p>
{% endif %}


{{ form.media }}

        <form class="span6" id="task_form" method="post" action="" enctype="multipart/form-data">
        
                
                    <legend>Edit target date for <strong>{{task}}</strong> task</legend>
                
        
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            
            {% for field in form.visible_fields %}

                {{ field|bootstrap }}
            {% endfor %}
            

            <button class="btn btn-primary" type="submit" name="submit">Save</button>
        </form>

</div>        
</div>
{% endblock %}