{% extends 'site_base.html' %}

{% load bootstrap %}
{% load profile_tag %}

{% block body_class %}profile{% endblock %}

{% block head_title %}
{% if profile.pk %}
Edit profile link
{% else %}
Create profile link
{% endif %}        

{% endblock %}

{% block body %}
<div class="row">
<div class="col-md-9">

{% if not add_user %}

    <p>Navigate through the tree of profiles list
    {% if level_pk > 0 %}
        of <mark>{{root_profile}}</mark>.
        Back to profile tree <a href="{% url 'project:add_profile_sub_tree_view' task_id=task.pk level_pk=0 %}" class="btn btn-default btn-sm" >root</a>.
    {% else %}<mark>root</mark>.
    {% endif %}
    </p>

    {% if level_profiles %}
    <ol>
        {% for lp in level_profiles %}
            <li>
            <a href="{% url 'project:add_profile_sub_tree_view' task_id=task.pk level_pk=lp.pk %}" class="btn btn-default btn-sm" > {% fa_profile_icon lp.profile_type %} {{lp}}</a></li>
        {% endfor %}
    </ol>
    {% else %}
        <p class="bg-warning">No sub profiles.</p>
    {% endif %}
{% endif %}

{{ form.media }}

        <form class="span6" id="profile_link_form" method="post" action="" enctype="multipart/form-data">
        
                {% if profile.pk %}
                    <legend>Edit profile link</legend>
                {% else %}
                    <legend>Add profile link to '<a href="{{task.get_absolute_url}}">{{task}}</a>'</legend>
                {% endif %}        
        
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            
            {% for field in form.visible_fields %}

                {{ field|bootstrap }}
            {% endfor %}
            

            <button class="btn btn-primary" type="submit" name="submit">Save</button>
        </form>
</div>        
</div>
{% endblock %}