<table class="table table-striped">
<thead>
<tr>

{% if table_mode == 'index' %}
<th>Project</th>
{% endif %}


<th>Task</th>
{%comment%}<th>Target (milestone or date)</th>{%endcomment%}
{% if table_mode != 'milestone' %}<th>Target milestone</th>{% endif %}
<th>Holder</th>
<th>Assignee</th>
<th>State</th>
</tr>
</thead>
<tbody>
    {% for t in tasks %}
    <tr>
    
{% if table_mode == 'index' %}
<td><a href="{{t.project.get_absolute_url}}">{{t.project}}</a></td>
{% endif %}
    
    <td>
    {% if not t.get_opened %}<strike>{% endif %}
   
    <a href="{{t.get_absolute_url}}">{{t}}</a>
    {% if not t.get_opened %}</strike>{% endif %}
    
    {% if t.important %}
    <i class="fa fa-exclamation-triangle" style="color:red"></i>
    {% endif %}
    </td>
    {% if table_mode != 'milestone' %}
    <td>{% if t.milestone %} Milestone - <a href="{{t.milestone.get_absolute_url}}">{{t.milestone}} {% if t.milestone.planned_at %} {{ t.milestone.planned_at|date }} {% endif %} </a>{% endif %}
    {% endif %}
    <td>{% if t.holder %} {{t.holder}}{% endif %}</td>
    <td>{% if t.assignee %} {{t.assignee}} {% endif %}</td>
    <td>{{t.get_state_name}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>