{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load i18n %}


{% block styles %}
    {% include "_styles.html" %}
{% endblock %}


{% block extra_head_base %}

{% load ynotification %}
{% main_message %}

    {% block extra_head %}{% endblock %}
{% endblock %}

{% block nav %}
    <ul class="nav navbar-nav pull-left">
      <li><a href="{% url 'profiles_list' %}">People</a></li>
      <li><a href="{% url 'project:index' %}">Projects</a></li>
    </ul>
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    {% include "_scripts.html" %}
{% endblock %}

{% block extra_body_base %}

    {% block extra_body %}{% endblock %}
{% endblock %}
